{% assign heading = include.heading %}
{% assign description = include.description %}
{% assign align = include.align %}
{% assign date = include.date %}

<div class="py-6 max-w-8xl relative flex items-center mx-auto">
  {% if date %}
  <div class="font-medium text-gray-700">{{ date | date_to_long_string }}</div>
  {% endif %}
  <div>
    <h1 class="heading text-4xl md:text-6xl font-bold font-sans md:leading-tight">
      {{ heading }}
    </h1>
    {% if description %}
    <h2 class="text-xl text-gray-600 mt-2">{{ description }}</h2>
    {% endif %}
  </div>
  <div class="relative items-center ml-auto">
    <ul class="flex space-x-8">
      {% for item in site.data.navigation.main_menu %}
          <li><a href="{{ item.url }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>